* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 20px;
    padding-left: 50px;
    border: 2px solid green;
    margin: auto;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s .5s ease;
}

nav a:hover {
    text-decoration: underline;
    color: blueviolet;
    font-size: 25px;
}
#h1{
    text-align: center;
}
#img{
    position: relative;
    float: left;
}
#para{
    float: right;
}